<h1 mat-dialog-title>{{ data.formTitle }}</h1>

<div class="mat-dialog-content" fxLayout="column" fxLayoutGap="16px" mat-dialog-content>
    <form (ngSubmit)="onSubmit()" [formGroup]="bestellungForm">

        <!-- Abteilung -->
        <div class="dropdown-section">
            <label>Abteilung:</label>
            <div class="dropdown-wrapper">
                <ng-multiselect-dropdown #dropdownDepartments
                                        (onSelect)="onDepartmentSelect($event)"
                                         [data]="departments"
                                         [placeholder]="'Abteilung auswählen'"
                                         [settings]="dropdownDepartmentSettings"
                                         appFocusOnClick
                                         class="custom-select-no-margin"
                                         formControlName="departments">
                    <ng-template let-item="item">
                        <div class="custom-item">
                            {{ item.name }}
                        </div>
                    </ng-template>
                </ng-multiselect-dropdown>

                <!--                <mat-error *ngIf="bestellungForm.get('departments').invalid && bestellungForm.get('departments').touched">-->
                <!--                    Abteilung ist erforderlich.-->
                <!--                </mat-error>-->
            </div>
        </div>

        <!-- Artikel -->
        <div class="dropdown-section">
            <label>Artikel:</label>

            <!--            <span class="input-wrapper-relative">-->
            <!--                <input type="text" [value]="searchTerm" (input)="onArtikelSearchChange($event)" placeholder="Artikel suchen"  class="limited-width-input" />-->
            <!--                <button *ngIf="searchTerm" mat-icon-button class="align-button color-cancel"  matTooltip="Abbrechen" (click)="clearSearch()">-->
            <!--                    <mat-icon>cancel</mat-icon>-->
            <!--                </button>-->
            <!--            </span>-->

            <div class="dropdown-wrapper">
                <ng-multiselect-dropdown #dropdownArtikels
                                         (onSelect)="onArtikelChange($event)"
                                         (click)              ="onArtikelsClick()"
                                         (onDropDownClose)="onDropdownClosed()"
                                         [data]="artikels"
                                         [placeholder]="'Artikel auswählen'"
                                         [settings]="singleSelectSettings"
                                         appFocusOnClick
                                         class="custom-select-no-margin"
                                         formControlName="artikels">
                    <ng-template let-item="item">
                        <div class="custom-item">
                            {{ item.name }}
                        </div>
                    </ng-template>
                </ng-multiselect-dropdown>

                <button (click)="addArtikelRecord(true)"
                        *ngIf="isOnlyOneArtikelSelected()" class="color-confirm"
                        mat-icon-button matTooltip="Artikel bearbeiten">
                    <mat-icon>edit</mat-icon>
                </button>
                <button (click)="addArtikelRecord()" class="color-confirm" mat-icon-button matTooltip="Neuen Artikel hinzufügen">
                    <mat-icon>add</mat-icon>
                </button>
            </div>
        </div>

        <div>
            <mat-form-field appearance="fill">
                <mat-label>Zusatzinfo zum Artikel -</mat-label>
                <textarea #textarea formControlName="descriptionZusatz" id="descriptionZusatz" matInput rows="1"></textarea>
                <mat-label><a [href]="safeUrl" rel="noopener noreferrer" target="_blank">Link zum Artikel</a></mat-label>
            </mat-form-field>

        </div>


        <!-- Lieferant -->
        <div class="dropdown-section">
            <label>Lieferant (Optional):</label>
            <div class="dropdown-wrapper">
                <ng-multiselect-dropdown #dropdownLieferants
                                         [data]="lieferants"
                                         [placeholder]="'Lieferant auswählen (Optional)'"
                                         [settings]="singleSelectSettings"
                                         appFocusOnClick
                                         class="custom-select-no-margin"
                                         formControlName="lieferants">
                    <ng-template let-item="item">
                        <div class="custom-item">
                            {{ item.name }}
                        </div>
                    </ng-template>
                </ng-multiselect-dropdown>
                <!--                <button *ngIf="isOnlyOneLieferantSelected()"-->
                <!--                        mat-icon-button class="color-confirm"-->
                <!--                        matTooltip="Lieferant bearbeiten" (click)="addLieferant(true)">-->
                <!--                    <mat-icon>edit</mat-icon>-->
                <!--                </button>-->
                <!--                <button mat-icon-button class="color-confirm" matTooltip="Neuen Lieferant hinzufügen" (click)="addLieferant()">-->
                <!--                    <mat-icon>add</mat-icon>-->
                <!--                </button>-->
            </div>
        </div>

        <div>
            <mat-form-field appearance="fill">
                <mat-label>Lieferanten-Bestellnummer</mat-label>
                <input formControlName="bestellnummer" id="bestellnummer" matInput>
            </mat-form-field>
        </div>

        <!-- Hersteller -->
        <div class="dropdown-section">
            <label>Hersteller (Optional):</label>
            <div class="dropdown-wrapper">
                <ng-multiselect-dropdown #dropdownHerstellers
                        [data]="herstellers"
                        [placeholder]="'Hersteller auswählen (Optional)'"
                        [settings]="singleSelectSettings"
                        appFocusOnClick
                        class="custom-select-no-margin"
                        formControlName="herstellers">
                    <ng-template let-item="item">
                        <div class="custom-item">
                            {{ item.name }}
                        </div>
                    </ng-template>
                </ng-multiselect-dropdown>

                <!--                <button *ngIf="isOnlyOneHerstellerSelected()"-->
                <!--                        mat-icon-button class="color-confirm"-->
                <!--                        matTooltip="Hersteller bearbeiten" (click)="addHersteller(true)">-->
                <!--                    <mat-icon>edit</mat-icon>-->
                <!--                </button>-->
                <!--                <button mat-icon-button class="color-confirm" matTooltip="Neuen Hersteller hinzufügen" (click)="addHersteller()">-->
                <!--                    <mat-icon>add</mat-icon>-->
                <!--                </button>-->
            </div>
        </div>

        <div>
            <mat-form-field appearance="fill">
                <mat-label>Hersteller REF-Nummer</mat-label>
                <input formControlName="refnummer" id="refnummer" matInput>
            </mat-form-field>
        </div>

        <!--  Anzahl -->
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Anzahl *</mat-label>
                <input formControlName="amount" id="amount" matInput>

                <mat-error *ngIf="bestellungForm.get('amount').errors?.['required']">
                    Anzahl ist erforderlich.
                </mat-error>
                <mat-error *ngIf="bestellungForm.get('amount').errors?.['notPositive']">
                    Anzahl muss größer als 0 sein.
                </mat-error>
                <mat-error *ngIf="bestellungForm.get('amount').errors?.['invalidFloat']">
                    Anzahl muss eine gültige Zahl sein (z.B. 2 oder 1,5).
                </mat-error>
            </mat-form-field>
        </div>

        <!--  Einheit -->
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Verpackungseinheit</mat-label>
                <input formControlName="packageunit" id="packageunit" matInput>

                <mat-error *ngIf="bestellungForm.get('packageunit').invalid && bestellungForm.get('packageunit').touched">
                    Verpackungseinheit ist erforderlich (z.B. Stück, Packung etc.)
                </mat-error>
            </mat-form-field>
        </div>

        <!--    Preis pro Einheit -->
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Preis pro Verpackungseinheit</mat-label>
                <input formControlName="preis" id="preis" matInput>

                <mat-error *ngIf="bestellungForm.get('preis').invalid && bestellungForm.get('preis').touched">
                    Preis enthält ungültige Zeichen.
                </mat-error>
            </mat-form-field>
        </div>

        <!--    Gesamtpreis -->
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Gesamtpreis</mat-label>
                <input formControlName="gesamtpreis" id="gesamtpreis" matInput readonly type="number">
            </mat-form-field>
        </div>

        <div>
            <mat-form-field appearance="fill">
                <mat-label>Notizen</mat-label>
                <input formControlName="description" id="description" matInput>
            </mat-form-field>
        </div>

    </form>
</div>


<mat-toolbar class="fixed-toolbar">
    <span class="spacer"></span>
    <button (click)="onNoClick()" class="align-button color-cancel" mat-icon-button matTooltip="Abbrechen">
        <mat-icon>cancel</mat-icon>
    </button>
    <button (click)="onSubmit()" [disabled]="bestellungForm.invalid" class="align-button color-confirm" mat-icon-button matTooltip="Speichern">
        <mat-icon>save</mat-icon>
    </button>
</mat-toolbar>
